    POSTGRES_HOST=
    POSTGRES_PORT=
    POSTGRES_USER=
    POSTGRES_PASSWORD=
    POSTGRES_DB=
    AUTH_SECRETE_KEY=
    AUTH_ALGORITHM=
    MAIL_USERNAME=
    MAIL_PASSWORD=
    MAIL_FROM_NAME=
    MAIL_FROM=
    MAIL_PORT=
    MAIL_SERVER=
    MAIL_STARTTLS=
    MAIL_SSL_TLS=
    MAIL_USE_CREDENTIALS=
    MAIL_VALIDATE_CERTS=
    REDIS_HOST=
    REDIS_PORT=
